* {
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-image: url("../resources/backgroundpicture.jpg");
}

a {
    color: black;
}

a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

a:active, a:hover {
    color: #bd5a35;
    text-decoration: underline;
}

h2 {
    text-align: center;
}

.big-heading {
    color: #CEF0D4;
    font-family: 'Rouge Script', cursive;
    font-size: 80px;
    font-weight: normal;
    line-height: 48px;
    margin: 0 0 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
}

#container {
    margin: 5% 5%;
}

#header {
    text-align: center;
}

#content {
    min-height: 550px;
}

#todo {
    margin-left: 0%;
}

#todo input {
    margin-bottom: 30px;
}

#todo form a {
    margin-left: 1%;
    padding: 1%;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    border-radius: 100%;
}

#todo label {
    background-image:url("../resources/woodbutton.jpeg");
    border: 2px solid black;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#todo .tag {
    display: inline-block;
    margin-left: 1%;
    padding: 5px;
    border-radius: 10%;
    border: 2px solid black;
}

#todo .general {
    background-color: white;
}

#todo .school {
    background-color: crimson;
}

#todo .work {
    background-color: greenyellow;
}

#todo .life {
    background-color: #7BAAF7;
}

.finished {
    background-color: forestgreen;
}

.critical {
    background-color: red;
}

.normal {
    background-color: gray;
}

.unimportant {
    background-color: #7BAAF7;
}

#footer {
    text-align: center;
}

/* ---------------------------------------------------------------
Table Style
------------------------------------------------------------------ */

table a:link {
    font-weight: bold;
    text-decoration: none;
    background-color: #FFFFCC;
}

table a:visited {
    font-weight: bold;
    text-decoration: none;
    background-color: #FFFFCC;
}

table a:active, table a:hover {
    background-color: #FFFFCC;
    text-decoration: underline;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12px;
    text-shadow: 1px 1px 0px #fff;
    background-color: #FFFFCC;

    margin: 10px;
    border: #ccc 1px solid;
}

table th {
    padding: 21px 25px 22px 25px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;

    background-color: #FFFFCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#ebebeb));
    background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

table tr:first-child th:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 30px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #FFFFCC;
}

table tr {
    text-align: center;
    padding-left: 10px;
    background-color: #FFFFCC;
}

table tr td:first-child {
    text-align: left;
    padding-left: 10px;
    background-color: #FFFFCC;
}

table tr td {
    padding: 5px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background-color: #FFFFCC;
}

table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFFFCC;
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #FFFFCC;
}

table tr:hover td {
    /*background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#64b5f6), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  */
    background-image: url("../resources/woodbutton.jpeg");
}

#finishedTasks {
    margin: 0px;

}

#divFinishedTable {
    width: 200px;
    float: right;
    
    
}

.button {
    color: black;
    background-image: url("../resources/woodbutton.jpeg");
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e', GradientType=0);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    /*color:#ffffff;*/
    font-family: Arial, sans-serif;
    font-size: 19px;
    padding: 12px 10px;
    text-decoration: none;
    text-shadow: #A0522D;
    border: 4px outset #AD5C33;

    margin-right: 10%;
    margin-top: 7%;
    margin-left: 15%;
}

.button:hover {
    background-image: url("../resources/woodbutton.jpeg");
    text-decoration: none;
}

.button:active {
    position: relative;

    top: 1px;
}

#divTasksTable {
    float: left;
    padding-left: 0%;

}

#divFinishedTasks {
    float: right;
   
}
#addTaskName
{
background-color: #FFFFCC;
margin-left: 2%;
position: relative;
margin-top: 30px;
}

#addDate
{
   background-color: #FFFFCC; 
   margin-left: 2%;
    position:relative;
}
#addAlarm
{
    background-color: #FFFFCC; 
    margin-left: 1%;
     position: relative;
}
#addAlarmDate
{
    background-color: #FFFFCC; 
    margin-left: 1%;
    position: relative;

}
#addTagName
{
    background-color: #FFFFCC; 
    margin-left: 1%;
}
form
{
    
    padding-left: 0%;
    margin-right: 18%;
    margin-left: 40%;

}
